@define-color background rgba(36,40,43,0.4);
@define-color color rgba(200,200,200,0.7);

* {
	background-image: none;
        border: none;
}

window {
	background-color: rgba(255, 255, 255, 0.06);
	transition: all 0.5s ease-in-out;
	box-shadow: inset 0 0 6em rgba(127,127,127,0.2);
}

button {
	border-radius: 16em;
	color: @color;
	text-shadow: 0 0 6px rgba(35,40,43,0.8);
	font-family: "Oxygen-Sans";
	font-size: 16px;
	background-color: @background;
	box-shadow: inset 0 4px 8px rgba(255,255,255,0.4), 0 4px 8px rgba(0,0,0,0.4);
	margin: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	transition: all 0.2s ease-in-out;
}

button:focus, button:active {
      box-shadow: inset 0px 4px 8px 0px rgba(255,255,255,0.7), 0px 8px 16px rgba(0,0,0,0.7);
}


button:hover {
	box-shadow: inset 0px 8px 16px rgba(255,255,255,0.4), 0px 8px 16px rgba(0,0,0,0.4)
}


#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));

}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
